body{
    font-family: 'Roboto', sans-serif;
    background: rgb(237, 237, 237);  
}
.box-shadow-style{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray, -3px -3px 10px gray;
}
.box-shadow-style:hover{
    box-shadow: 3px 3px 10px black, -3px -3px 10px black;
}
#special-offer-div{
    background-color: rgb(50, 50, 255);
    margin-top: -40px;
    padding: 20px 8px 40px 8px;
    color: white;
    border-radius: 10px;
}

.main-div-special:hover{
    background-color: rgb(255, 0, 0);
    margin-top: -40px;
    padding: 20px 8px;
    color: white;
    border-radius: 10px;
}
.accordion-item-style{
    margin: 10px 0;
    box-shadow: 3px 3px 10px rgb(186, 186, 186), -3px -3px 10px rgb(191, 191, 191);
}

#gift-box{
    position: fixed;
    bottom: 30%;
    right: 10%;
    border-left: 5px solid blue;
    padding: 0 10px;
    background: white;
}
#gift-box:active{
    display: none;
}