body{
    font-family: 'Roboto', sans-serif;
    background: rgb(237, 237, 237);  
}
.box-shadow-style{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray, -3px -3px 10px gray;
}
.box-shadow-style:hover{
    box-shadow: 3px 3px 10px black, -3px -3px 10px black;
}
#special-offer-div{
    background-color: rgb(50, 50, 255);
    margin-top: -40px;
    padding: 20px 8px 40px 8px;
    color: white;
    border-radius: 10px;
}
#special-offer-hot {
    width: 50px;
    border-radius: 10px;
    text-align: center;
    margin-top: -30px;
    margin-left: 70%;
    background-color: red;
    font-size: 16px;
    font-weight: bold;
}

.accordion-item-style{
    margin: 10px 0;
    box-shadow: 3px 3px 10px rgb(186, 186, 186), -3px -3px 10px rgb(191, 191, 191);
}

/* #gift-box{
    position: fixed;
    bottom: 35%;
    right: 10%;
    border-left: 8px solid blue;
    padding: 0 10px;
    background: white;
} */
